/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}


/* Header */

.profile { 
    display: flex;  
    justify-content: center;
    align-items: center; 
    margin-bottom: 10px;
} 

.profile-image img {
     border: 10px solid rgba(21, 77, 27, 0.829);
     border-radius: 100%;
     width: 250x; 
     height: 250px;
     margin-bottom: 40px;
}

.header-text {
   display: flex;
   flex-direction: column;
   margin-bottom: 40px;
}

.profile-user-settings {
    display: flex;
    margin: 25px 20px 15px;
}

.profile-user-name {
    font-weight: lighter;
    font-size: x-large;
}

.btn-profile-edit-btn {
    height: 25px;
    margin: 22px 10px 0px 15px;
    background-color: #fafafa;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px 20px 5px 20px; 
    cursor: pointer;
}

.btn-profile-settings-btn {
    height: 25px;
    margin: 22px 0px 0px 0px;
    background-color: #fafafa;
    border-width: 0px;
    cursor: pointer;

}

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}


li {
    margin: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    
}

/* Grid */

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 750px;
    margin-right: auto;
    margin-left: auto;  
    gap: 25px;
    cursor: pointer;
}

.gallery .gallery-image {
    width: 100%;
    height: 100%;
    margin: 5px 5px;
    object-fit: cover;
    
}

/* Hover */

.gallery-item {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.gallery-image {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    opacity: 30%;
    transition: opacity 1.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-item-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.gallery-item:hover .gallery-item-info {
    opacity: 1;
}

.Loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
